@model AsyncInnWebApp.Models.Hotel
<!DOCTYPE html>

<head>
    <title>A Async Inn Hotel</title>
</head>

<body>
        <h1>@Model.Name</h1>
        <p>@Model.StreetAddress</p>
        <p>@Model.City</p>
        <p>@Model.State</p>
        <p>@Model.Phone</p>
        <p>@Model.</p>
        <hr />
</body>
